



body{
    background-image: url("../images/bg.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.content_area{
    margin: 250px 400px;
    padding:30px;
    background:rgba(0,0,0,.5);
}
.page-footer{
    padding-top: 10px;
    background-color: #222222;
}
input{
    margin:10px 0px;
}
h1{
    color:#fff;
}