



body{
    background-image: url("../images/bg.jpg");
    background-color: #cccccc;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}
.content_area{
    margin: 100px 400px;
    padding:35px 50px;
    background:rgba(0,0,0,.5);
}
.page-footer{
    padding-top: 10px;
    background-color: #222222;
}
input{
    margin:0px 0px;
}
h1{
    color:#fff;
    text-align: center;
}
label{
    color: #fff;
}